<div class="modal-overlay">
    <div class="modal">
        <div class="modal-header">
            <h2 class="modal-title">Deposito</h2>
        </div>
        
        <div class="modal-body">
            <div class="form-group">
                <label *ngIf="!exibirSenha" class="form-label">Quanto você quer depositar?</label>
                <input
                  *ngIf="!exibirSenha"
                  type="number"
                  placeholder="Digite o valor"
                  [(ngModel)]="valorDeposito"
                  [min]="0"
                  #valorInput ="ngModel"
                  [step]="0.10"
                  class="form-input"
                  (keydown) = "preventNegativeInput($event)"
                  (paste) = "onPaste($event)"
                />
            </div>

            <div *ngIf="exibirSenha" class="flex flex-col space-y-2">
              <div>
                Valor a depositar: <strong>R$ {{ valorDeposito | number:'1.2-2' }}</strong>
              </div>
        
              <input
                type="password"
                placeholder="Digite sua senha"
                [(ngModel)]="senha"
                (input)="mensagemErro = null"
                class="form-input"
              />
        
              <div *ngIf="mensagemErro" class="text-red-600 font-semibold mt-2">
                {{ mensagemErro }}
              </div>
            </div>
            
            <div class="action-buttons">
              <button
                [disabled]="!exibirSenha ? !valorDeposito : !senha"
                class="btn btn-primary bg-indigo-600"
                (click)="confirmarDeposito()"
              >
                {{ exibirSenha ? 'Depositar' : 'Confirmar valor' }}
              </button>

              <button (click)="closeModal()" class="btn btn-secondary">
                Cancelar
              </button>
            </div>
        </div>
    </div>
</div>

