<div class="login-container">
  <div *ngIf="!showAccountSelection && !loggedIn" class="login-card">
    <div class="login-header">
      <h2>Bem-vindo!</h2>
      <p>Acesse sua conta para continuar</p>
    </div>

    <form (ngSubmit)="login()" novalidate>
      <div class="form-group">
        <label for="account">Conta, CPF ou E-mail</label>
        <input
          type="text"
          id="account"
          name="account"
          [(ngModel)]="loginInput"
          (input)="formatInput($event)"
          class="form-control"
          placeholder="Digite sua credencial"
          required
        />
      </div>

      <div class="form-group">
        <label for="senha">Senha</label>
        <input
          type="password"
          id="senha"
          name="senha"
          [(ngModel)]="password"
          class="form-control"
          placeholder="•••••••••"
          required
        />
      </div>

      <button type="submit" [disabled]="isLoading" class="btn-primary">
        <div class="button-content">
          @if (isLoading) {
          <svg
            class="animate-spin h-5 w-5 text-white"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
          >
            <circle
              class="opacity-25"
              cx="12"
              cy="12"
              r="10"
              stroke="currentColor"
              stroke-width="4"
            ></circle>
            <path
              class="opacity-75"
              fill="currentColor"
              d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
            ></path>
          </svg>
          }
          <span class="relative">
            {{ isLoading ? "Entrando" : "Entrar" }}
            @if (isLoading) {
            <span class="dots"></span>
            }
          </span>
        </div>
      </button>
    </form>

    <p class="login-footer">
      Não tem uma conta? <a href="/user-registration">Registre-se agora</a>
    </p>
  </div>

  <div *ngIf="showAccountSelection" class="login-card">
    <div class="login-header">
      <h2>Escolha a Conta</h2>
      <p>Encontramos múltiplas contas vinculadas.</p>
    </div>

    <div class="space-y-4">
      <div *ngFor="let account of accountOptions">
        <button (click)="selectAccount(account)" class="btn-primary">
          Conta: {{ account }}
        </button>
      </div>
    </div>

    <button (click)="logout()" class="btn-danger mt-6">Voltar</button>
  </div>
</div>