<!-- Modal for boleto payment -->
<div class="modal-overlay">
  <div class="modal">
      <div class="modal-header">
          <h2 class="modal-title">Saque</h2>
      </div>
      
      <div class="modal-body">
          <div class="form-group">
              <label *ngIf="!exibirSenha" class="form-label">Digite o valor que deseja sacar</label>
                <input
                *ngIf="!exibirSenha"
                type="number"
                [(ngModel)]="valor"
                [min] = '0'
                [step]="0.10"
                #valorInput = "ngModel" 
                placeholder="Digite o valor"
                class="form-input"
                (keydown) = "preventNegativeInput($event)"
                (paste) = "onPaste($event)"
              />
              
            <div *ngIf="exibirSenha" class="flex flex-col space-y-2">
              <div>Valor a sacar: <strong>R$ {{ valor | number:'1.2-2' }}</strong></div>
        
              <input
                type="password"
                placeholder="Digite sua senha"
                [(ngModel)]="senha"
                (input)="mensagemErro = null"
                class="form-input"
              />
        
              <div *ngIf="mensagemErro" class="text-red-600 font-semibold">{{ mensagemErro }}</div>
            </div>

          <div class="action-buttons">
            <button
              [disabled]="!exibirSenha ? !valor : !senha"
              (click)="sacar()"
              class="btn btn-primary bg-indigo-600" id="payBtn"
            >
              {{ exibirSenha ? 'Confirmar saque' : 'Confirmar valor' }}
            </button>

            <button (click)="closeModal()" class="btn btn-secondary">
              Cancelar
            </button>
          </div>
      </div>
  </div>
</div>
