<body class="bg-gray-100 flex items-center justify-center min-h-screen">
    <div class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-40"></div>

    <div class="fixed z-50 bg-white rounded-lg shadow-lg w-96 p-6 flex flex-col space-y-4">
      <h2 class="text-xl font-semibold text-gray-800">Enviar Pix</h2>

      <input
        *ngIf="!exibirSenha"
        type="text"
        placeholder="Chave Pix (e-mail, telefone ou CPF)"
        [(ngModel)]="chavePix"
        class="border border-gray-300 rounded-md px-4 py-2 focus:outline-none focus:ring-2 focus:ring-indigo-500"
      />

      <input
        *ngIf="!exibirSenha"
        type="number"
        placeholder="Digite o valor"
        [(ngModel)]="valorPix"
        [min]="0"
        [step]="0.01"
        class="border border-gray-300 rounded-md px-4 py-2 focus:outline-none focus:ring-2 focus:ring-indigo-500"
      />

      <div *ngIf="exibirSenha" class="flex flex-col space-y-2">
        <div>
          Enviar <strong>R$ {{ valorPix | number: '1.2-2' }}</strong> para <strong>{{ chavePix }}</strong>
        </div>
  
        <input
          type="password"
          placeholder="Digite sua senha"
          [(ngModel)]="senha"
          (input)="mensagemErro = null"
          class="border border-gray-300 rounded-md px-4 py-2 mt-2 focus:outline-none focus:ring-2 focus:ring-red-500"
        />
  
        <div *ngIf="mensagemErro" class="text-red-600 font-semibold mt-2">
          {{ mensagemErro }}
        </div>
      </div>
  
      <button
        [disabled]="!exibirSenha ? !valorPix || !chavePix : !senha"
        class="bg-indigo-600 text-white rounded-md py-2 mt-4 font-semibold hover:bg-indigo-700 transition w-full disabled:opacity-50"
        (click)="confirmarPix()"
      >
        {{ exibirSenha ? 'Enviar Pix' : 'Confirmar' }}
      </button>

      <button (click)="closeModal()" class="mt-2 text-gray-600 hover:text-gray-900">
        Cancelar
      </button>
    </div>
  </body>
  