<!-- Modal for boleto payment -->
  <div class="modal-overlay">
    <div class="modal">
        <div class="modal-header">
            <h2 class="modal-title">Transferência</h2>
        </div>
        
        <div class="modal-body">
            <div class="form-group">
                <label *ngIf="!exibirSenha" class="form-label">Digite o valor da transferência</label>
                <input
                  *ngIf="!exibirSenha"
                  type="number"
                  [(ngModel)]="amount"
                  [min] = "0"
                  #valorInput = "ngModel"
                  [step]="0.10"
                  placeholder="0,00"
                  class="form-input"
                  (keydown) = "preventNegativeInput($event)"
                  (paste) = "onPaste($event)"
                />
                
                <label *ngIf="!exibirSenha" class="form-label">Digite o numero da conta</label>
                <input
                  *ngIf="!exibirSenha"
                  [(ngModel)]="accountNumberTo"
                  placeholder="Número da conta"
                  class="form-input" 
                />

                <label *ngIf="!exibirSenha" class="form-label">Descrição da transferencia</label>
                <input
                  *ngIf="!exibirSenha"
                  [(ngModel)]="description"
                  placeholder="Descrição da transferência"
                  class="form-input"
                />

                <div *ngIf="exibirSenha" class="flex flex-col space-y-2">
                  <div class="font-semibold text-gray-700">
                    Você está transferindo <strong>R$ {{ amount | number:'1.2-2' }}</strong> para a conta <strong>{{ accountNumberTo }}</strong>.
                  </div>
            
                  <input
                    type="password"
                    placeholder="Digite sua senha"
                    [(ngModel)]="password"
                    (input)="mensagemErro = null"
                    class="form-input"
                  />
            
                  <div *ngIf="mensagemErro" class="text-red-600 font-semibold mt-1">
                    {{ mensagemErro }}
                  </div>
                </div>

            <div class="action-buttons">
              <button
                (click)="transferir()"
                disabled
                [disabled]="!exibirSenha ? (!amount || !accountNumberTo) : !password"
                class="btn btn-primary bg-indigo-600" id="payBtn"
              > {{ exibirSenha ? 'Transferir' : 'Confirmar valor' }} </button>

                <button class="btn btn-secondary" (click)="closeModal()">
                    Cancelar
                </button>
            </div>
        </div>
    </div>
</div>
