<header>
  <h1>Banco Web</h1>
  <nav>
    <button class="hamburger" (click)="toggleMenu()">☰</button>
    <nav class="menu" [class.open]="menuOpen"></nav>
    <a (click)="logout()" style="cursor: pointer">Logout</a>
  </nav>
</header>
<main>
  <section class="saldo-card">
    <h2>Saldo Atual:{{ accountData?.balance | currency : "BRL" }}</h2>
  </section>
  @if (showContent) {
  <section class="actions">
    <div class="action">
      <a (click)="openModal(Transferencia)">
        <img
          src="https://img.icons8.com/fluency/48/money-transfer.png"
          alt="Transferência"
        />
        <p>Transferência</p>
      </a>
    </div>
    <div class="action">
      <a (click)="openModal(Deposito)">
        <img
          src="https://img.icons8.com/fluency/48/deposit.png"
          alt="Depósito"
        />
        <p>Depósito</p>
      </a>
    </div>
    <div class="action">
      <a (click)="openModal(Withdraw)">
        <img src="https://img.icons8.com/fluency/48/atm.png" alt="Saque" />
        <p>Saque</p>
      </a>
    </div>
  </section>
  <section class="card-info">
    <button (click)="history()">Ver histórico</button>
    <button (click)="carregarMovimentacoesSemana()">Ver histórico Semana</button>
    <button (click)="carregarMovimentacoesMes()">Ver histórico Mes</button>
    <ul>
      <li *ngFor="let item of valores">
        Tipo: {{ item.movimentTypeEnum }}, Data:
        {{ item.dateTimeMoviment | date : "short" }}, Valor:
        {{ item.amount | currency : "BRL" }}
      </li>
    </ul>
  </section>
  } @else {
  <router-outlet></router-outlet>
  }
</main>
