<header>
  <h1>Banco Web</h1>
  <nav>
    <a href="/home">Home</a>

    <div class="dropdown-container">
      <a (click)="toggleDropdown($event)" class="dropdown-toggle">
        <fa-icon [icon]="faCog"></fa-icon>
        <span> Configurações ▼</span>
      </a>

      @if (isDropdownOpen) {
      <div class="dropdown-menu">

        <a class="dropdown-item" (click)="openModal(EditarConta)">
          <fa-icon [icon]="faEdit"></fa-icon>
          <span>Editar Conta</span>
          <fa-icon class="item-chevron" [icon]="faChevronRight"></fa-icon>
        </a>

        <a class="dropdown-item-excluir" (click)="abrirModalExclusao()">
          <fa-icon [icon]="faTrash"></fa-icon>
          <span>Excluir Conta</span>
          <fa-icon class="item-chevron" [icon]="faChevronRight"></fa-icon>
        </a>

        <a class="dropdown-item" (click)="logout()">
          <fa-icon [icon]="faSignOutAlt"></fa-icon>
          <span>Sair</span>
          <fa-icon class="item-chevron" [icon]="faChevronRight"></fa-icon>
        </a>

      </div>
      }
    </div>
  </nav>
</header>
<main>
  <section class="saldo-card">
    <h2>Saldo Atual: R$ 12.345,67</h2>
    <p>Última atualização: 01/07/2025 13:00</p>
  </section>
  @if (showContent) {
  <section class="actions">
    <div class="action">
      <a (click)="openModal(Transferencia)">
        <img
          src="https://img.icons8.com/fluency/48/money-transfer.png"
          alt="Transferência"
        />
        <p>Transferência</p>
      </a>
    </div>
    <div class="action">
      <a (click)="openModal(Deposito)">
        <img
          src="https://img.icons8.com/fluency/48/deposit.png"
          alt="Depósito"
        />
        <p>Depósito</p>
      </a>
    </div>
    <div class="action">
      <a (click)="openModal(Withdraw)">
        <img src="https://img.icons8.com/fluency/48/atm.png" alt="Saque" />
        <p>Saque</p>
      </a>
    </div>
    <div class="action">
      <img
        src="https://img.icons8.com/fluency/48/services.png"
        alt="Todas as funções"
      />
      <p>Todas as funções</p>
    </div>
  </section>
  <section class="card-info">
    <h3>Cartão de Crédito</h3>
    <p>Limite disponível: R$ 4.000,00</p>
    <p>Fatura atual: R$ 1.234,56</p>
    <p>Vencimento: 10/07/2025</p>
  </section>
  } @else {
  <router-outlet></router-outlet>
  }
</main>
